<section class="container d-flex flex-column align-items-center mt-5">
  <section
    *ngFor="let post of posts; let index = index"
    class="w-100"
    style="max-width: 1120px"
  >
    <div
      class="d-flex flex-column w-100 mb-5 justify-content-center align-items-center"
    >
      <div class="d-flex photo-card w-100 m-0">
        <div
          class="carousel slide"
          id="carousel-{{ index }}"
          [ngClass]="post.fotos.length > 0 ? 'w-100' : ''"
        >
          <div class="carousel-inner" style="max-height:400px">
            <div
              *ngFor="let foto of post.fotos; let isFirst = first"
              class="carousel-item w-100 h-100"
              [ngClass]="{ active: isFirst }"
              [ngStyle]="{ 'min-height': foto.image != '' ? '400px' : '0px' }"
              style="height: 200px"
            >
              <img
                class="w-100 h-100 rounded"
                style="object-fit: cover; min-height: 400px"
                src="data:image/png;base64,{{ foto.image }}"
                alt="foto del post"
              />
            </div>
          </div>
          <div *ngIf="post.fotos.length > 1">
            <button
              class="carousel-control-prev"
              role="button"
              [attr.data-bs-target]="'#carousel-' + index"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon"></span
              ><span class="visually-hidden">Previous</span></button
            ><button
              class="carousel-control-next"
              role="button"
              [attr.data-bs-target]="'#carousel-' + index"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon"></span
              ><span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="photo-details w-50">
          <h1>{{ post.titulo }}</h1>
          <p>
            {{ post.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
