.borders {
  border-style: groove !important;
  border: 27px solid rgb(55, 99, 244);
}

@media screen and (max-width: 1000px) {
  .photo-card {
    flex-direction: column;
  }

  .photo-background {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 500px !important;
  }

  .acciones {
    flex-direction: column;
  }
}
