<section>
  <form ngNativeValidate (submit)="toggleEditMode()">
    <div
      class="container d-flex justify-content-center align-items-center py-5"
      style="width: 100%"
    >
    <div class="photo-card w-100 d-flex justify-content-center align-items-center spinner" style="height:80vh" *ngIf="loading">
      <mat-spinner color="white"></mat-spinner>
    </div>
      <div
        class="photo-card"
        style="padding: 0px; margin: 0px; max-width: 2000px;min-height:80vh"
        *ngIf="!loading"
      >
        <div
          class="photo-background w-100"
          [ngClass]="this.editMode ? 'borders' : 'w-100'"
          style="overflow: hidden"
          (click)="this.editMode ? enterpriseImg.click() : ''"
        >
          <img
            src="data:image/png;base64,{{ emprendimiento.imagen }}"
            class="w-100 h-100"
            [ngClass]="this.editMode ? '' : 'rounded-4'"
            style="object-fit: cover"
            alt="Imagen emprendimiento"
          />
          <input
            hidden
            (change)="onFileSelected()"
            #enterpriseImg
            type="file"
            id="enterpriseImg"
          />
        </div>

        <div
          class="d-flex flex-column justify-content-between photo-details w-100"
        >
          <div>
            <h3 class="text-white" *ngIf="!this.editMode">
              <span class="fw-bold">Dominio:</span> /{{
                emprendimiento.domainUrl
              }}
            </h3>
            <div *ngIf="this.editMode">
              <mat-form-field [style.width.%]="100" appearance="fill">
                <mat-label>Dominio</mat-label>
                <input
                  type="text"
                  name="dominioEmprendimiento"
                  matInput
                  [disabled]="!this.editMode"
                  [(ngModel)]="this.emprendimiento.domainUrl"
                  required
                />
              </mat-form-field>
            </div>

            <p class="display-4" *ngIf="!this.editMode">{{ emprendimiento.nombre }}</p>
            <div *ngIf="this.editMode">
              <mat-form-field [style.width.%]="100" appearance="fill">
                <mat-label>Nombre del emprendimiento</mat-label>
                <input
                  type="text"
                  name="nombre"
                  matInput
                  class="w-100"
                  [(ngModel)]="emprendimiento.nombre"
                  required
                />
              </mat-form-field>
              <mat-form-field [style.width.%]="100" appearance="fill">
                <mat-label>Descripcion del emprendimiento</mat-label>
                <textarea
                  type="text"
                  matInput
                  class="w-100"
                  name="descripcion"
                  [(ngModel)]="emprendimiento.descripcion"
                >
                </textarea>
              </mat-form-field>
            </div>
            <p *ngIf="!this.editMode" style="/*height: 103.938px;*/">
              {{ emprendimiento.descripcion }}
            </p>
            <div
              class="d-flex align-items-start flex-column justify-content-start mb-4"
            >
              <div class="d-flex justify-content-start align-items-center">
                <mat-checkbox
                  name="check-donations"
                  [(ngModel)]="emprendimiento.filterByDonations"
                  [disabled]="!isEditMode()"
                ></mat-checkbox>
                <span class="text-white">Mostrar top de donaciones</span>
              </div>
              <div class="d-flex justify-content-start align-items-center">
                <mat-checkbox
                  name="check-manguitos"
                  [(ngModel)]="emprendimiento.filterByManguitos"
                  [disabled]="!isEditMode()"
                ></mat-checkbox>
                <span class="text-white">Mostrar top de manguitos</span>
              </div>
            </div>
            <div *ngIf="!this.editMode" style="margin: 10px 0 0 0">
              <p *ngFor="let red of emprendimiento.redesSociales">
                <strong>{{ red.nombre }}: </strong><a [href]="red.url" target="_blank">{{ red.url }}</a>
              </p>
            </div>
            <div *ngIf="this.editMode" class="d-flex flex-column mb-2">
              <div
                *ngFor="let red of emprendimiento.redesSociales; let i = index"
                class="d-flex flex-column mb-4 w-100"
              >
                <mat-form-field [style.width.%]="100" appearance="fill">
                  <mat-label>Nombre red social</mat-label>
                  <input
                    type="text"
                    name="redNombre-{{ i }}"
                    matInput
                    [(ngModel)]="red.nombre"
                    required
                  />
                </mat-form-field>
                <mat-form-field [style.width.%]="100" appearance="fill">
                  <mat-label>Url red social</mat-label>
                  <input
                    type="url"
                    matInput
                    name="redUrl-{{ i }}"
                    [(ngModel)]="red.url"
                    required
                  />
                </mat-form-field>
                <button
                  type="button"
                  class="btn btn-danger w-100"
                  (click)="this.emprendimiento.redesSociales.splice(i, 1)"
                >
                  Borrar
                </button>
              </div>
              <div class="mb-3">
                <button
                  type="button"
                  (click)="agregarRed()"
                  class="btn btn-primary w-100"
                >
                  Agregar red
                </button>
              </div>
            </div>

            <div
              class="d-flex gap-2 mb-5 justify-content-center align-items-center"
            >
              <div
                *ngFor="let categoria of getCategorias()"
                (click)="addCategoria(categoria)"
              >
                <span
                  class="px-2 py-1 rounded-pill text-white"
                  [ngStyle]="{
                    'background-color': isSelected(categoria)
                      ? categoria.color
                      : 'rgb(108, 117, 125)'
                  }"
                  >{{ categoria.nombre }}</span
                >
              </div>
            </div>
          </div>
          <section
            class="d-flex justify-content-center align-items-center gap-2"
            style="width: 100%"
          >
            <button class="btn btn-primary" type="submit" role="button">
              <span *ngIf="!this.editMode">Editar producto</span
              ><span *ngIf="this.editMode">Guardar</span>
            </button>
            <a
              class="btn btn-danger ms-2"
              role="button"
              *ngIf="this.editMode"
              (click)="cancelEdit()"
              >Cancelar</a
            >
          </section>
        </div>
      </div>
    </div>
  </form>
</section>
