<div class="p-5 d-flex justify-content-center align-items-center flex-column">
  <button type="button" class="btn btn-primary mb-5" (click)="toggleTable()">
    Ver <span *ngIf="manguitosVisible">pagos de planes</span
    ><span *ngIf="!manguitosVisible">manguitos</span>
  </button>
  <table
    id="tableComponent"
    class="table table-bordered table-striped text-white table-dark"
    *ngIf="manguitosVisible"
  >
  <div
    class="container w-100 d-flex justify-content-center align-items-center spinner"
    style="height: 80vh"
    *ngIf="loading"
  >
    <mat-spinner color="white"></mat-spinner>
  </div>
  <p *ngIf="!isManguitosVisible()" class="text-center"> No hay manguitos visibles</p>
    <thead *ngIf="isManguitosVisible()">
      <tr class="text-center bg-primary">
        <th *ngFor="let columna of columnasManguito">{{ columna }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let manguito of manguitos" class="text-center manguito">
        <td>{{ (manguito.nombrePersona) ? manguito.nombrePersona : 'Anónimo' }}</td>
        <td>{{ getFecha(manguito.fecha) }}</td>
        <td>{{ manguito.cantidad }}</td>
        <td>
          {{ manguito.monto * manguito.cantidad }}
        </td>
      </tr>
    </tbody>
  </table>
  <table
    id="tableComponent"
    class="table table-bordered table-striped text-white table-dark"
    *ngIf="!manguitosVisible"
  >
  <p *ngIf="!isPlanesVisible()" class="text-center">No hay pagos visibles</p>
    <thead *ngIf="isPlanesVisible()">
      <tr class="text-center bg-primary">
        <th *ngFor="let columna of columnasPagosPlan">{{ columna }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pago of pagosPlan" class="text-center pago">
        <td>{{ (pago.nombrePersona) ? pago.nombrePersona : 'Anónimo' }}</td>
        <td>{{ getFecha(pago.fecha) }}</td>
        <td>{{ pago.monto }}</td>
        <td>{{ (pago.mensaje) ? pago.mensaje : 'No hay' }}</td>
        <td>{{ pago.contacto }}</td>
      </tr>
    </tbody>
  </table>
</div>
