<section class="d-flex gap-5 justify-content-center" style="padding: 20px 0">
  <div class="card" style="max-width: 1200px; background: rgb(45, 54, 56)">
    <div
      class="card-body d-flex justify-content-center justify-content-xl-center align-items-xl-center align-items-xxl-center"
    >
      <div style="margin-right: 20px" class="text-white">
        <h4>Manguitos</h4>
        <h6 class="text-muted mb-2">Precio de cada manguito</h6>
      </div>
      <div class="input-group" style="width: 137px">
        <span class="input-group-text">$</span
        ><input
          class="form-control"
          type="text"
          [(ngModel)]="this.emprendimiento.valorManguito"
          style="width: 75px; padding: 0px; padding-left: 20px; font-size: 18px"
        />
      </div>
    </div>
  </div>
  <button
    class="btn btn-primary rounded"
    type="button"
    (click)="guardarCambios()"
  >
    Guardar cambios
  </button>
</section>
<section
  class="d-flex flex-column justify-content-center align-items-center"
  style="padding: 20px 0"
>
  <div class="row row-cols-3 justify-content-center gap-5 mb-5">
    <div
      *ngFor="let plan of emprendimiento.planes"
      class="card col px-0"
      style="min-width: 500px; background: rgb(45, 54, 56)"
    >
      <div
        class="card-body d-flex justify-content-center justify-content-xl-center align-items-xl-center align-items-xxl-center"
        style="height: 228.562px"
      >
        <div
          class="d-flex flex-column"
          style="margin-right: 20px; height: 200.578px"
        >
          <input
            type="text"
            [(ngModel)]="plan.titulo"
            style="font-size: 23px; padding-left: 15px; border-radius: 6px"
          /><small class="form-text" style="font-size: 17px"
            >Nombre de plan</small
          ><textarea
            [(ngModel)]="plan.descripcion"
            style="
              font-size: 18px;
              padding: 10px;
              margin-top: 10px;
              border-radius: 6px;
            "
          >
Descargas con anticipacion</textarea
          ><small class="form-text" style="font-size: 17px"
            >Beneficios del plan</small
          >
        </div>
        <div class="text-center">
          <div class="input-group">
            <span class="input-group-text">$</span
            ><input
              class="form-control"
              type="text"
              [(ngModel)]="plan.monto"
              style="padding: 0px; padding-left: 20px; font-size: 18px"
            />
          </div>
          <small class="form-text" style="font-size: 17px"
            >Precio del plan</small
          >
        </div>
      </div>
      <div
        class="input-group w-100"
        style="
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        "
      >
        <button
          class="btn btn-primary w-100"
          type="button"
          style="
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px; /*border-bottom-left-radius: 15px;*/
            --bs-danger: #dc3545;
            --bs-danger-rgb: 220, 53, 69;
            background: #dc3545;
            border-color: rgb(220, 53, 69);
          "
          (click)="eliminarPlan(plan)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="-32 0 512 512"
            width="1em"
            height="1em"
            fill="currentColor"
          >
            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
            <path
              d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM394.8 466.1C393.2 492.3 372.3 512 346.9 512H101.1C75.75 512 54.77 492.3 53.19 466.1L31.1 128H416L394.8 466.1z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div
    class="card d-flex justify-content-center align-items-center"
    style="height: 100px; width: 500px; background: rgba(0, 98, 10, 0.56)"
  >
    <div
      class="card-body w-100 d-flex justify-content-center align-items-center"
      (click)="agregarPlan()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="-32 0 512 512"
        height="1em"
        fill="currentColor"
        class="fs-1"
        style="color: #19f5aa"
      >
        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"
        ></path>
      </svg>
    </div>
  </div>
</section>
