<section class="d-flex container justify-content-center align-items-center" style="height:80vh" *ngIf="loading">
  <mat-spinner></mat-spinner>
</section>
<section *ngIf="!loading" class="py-5 d-flex flex-column justify-content-center align-items-center">
  <div class="row mb-3 w-100 d-flex">
    <div class="text-center mx-auto p-0 w-100" style="color: white">
      <h2 class="fw-bold">Donar a {{ emprendimiento.nombre }}</h2>
      <p class="text-muted mx-2">
        Unos manguitos le vienen muy bien a un proyecto que recién esta
        empezando a crecer y desarrollarse.
      </p>
    </div>
  </div>
  <div
    class="container d-flex justify-content-center flex-column align-items-center"
    style="color: white"
  >
    <p class="fw-bold display-4 text-white">Manguitos</p>
    <div class="card bg-dark border-dark manguitos-container">
      <div class="card-body p-4">
        <div class="d-flex justify-content-between w-100 manguitos">
          <div
            class="d-flex flex-column justify-content-between mb-2 me-3 precio-manguito"
          >
            <h3 class="fw-bold mb-0">Donar Manguitos</h3>
            <h4 class="display-4 fw-bold">
              {{ emprendimiento.valorManguito }}$
            </h4>
          </div>
          <div>
            <div class="cantidad-manguito d-flex">
              <span class="input-group-text text-cant" style="border-radius: 5px 0 0 5px"
                >Cant.</span
              ><input
                class="form-control rounded-0"
                type="text"
                [(ngModel)]="this.cantManguitos"
                style="text-align: center; width: 73.844px"
              /><span
                class="input-group-text text-total"
                style="border-radius: 0 5px 5px 0"
                >Total:
                {{ emprendimiento.valorManguito * cantManguitos }}$</span
              >
            </div>
            <small class="form-text d-flex justify-content-center"
              >Cantidad de manguitos</small
            >
          </div>
        </div>
        <div>
          <ul class="list-unstyled"></ul>
        </div>
        <a
          class="btn btn-primary d-block w-100"
          role="button"
          (click)="openDialog()"
          >Donar</a
        >
      </div>
    </div>
  </div>
  <div *ngIf="emprendimiento.planes && emprendimiento.planes.length>0" class="container py-5" style="color: white">
    <p
         class="fw-bold display-4 text-white d-flex flex-column align-items-center"
    >
      Planes
    </p>
    <div
      class="row row-cols-2 d-flex align-items-center justify-content-center"
    >
      <div
        *ngFor="let plan of emprendimiento.planes; index as i; let last = last"
        class="col mb-3"
        style="margin-right: 5px; width: 100%; max-width: 600px"
      >
        <div class="card" [ngClass]="last ? 'bg-primary' : 'bg-dark'">
          <div class="card-body p-4">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="fw-bold mb-0">{{ plan.titulo }}</h3>
                <h4 class="display-4 fw-bold">{{ plan.monto }}$</h4>
              </div>
              <div *ngIf="last">
                <span
                  class="badge rounded-pill bg-primary text-uppercase bg-semi-white"
                  >MEJOR VALOR</span
                >
              </div>
            </div>
            <div>
              <ul class="list-unstyled">
                <li class="d-flex mb-2">
                  <span
                    [ngClass]="last ? 'bs-icon-semi-white' : ''"
                    class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon bs-icon-xs me-2"
                    ><svg
                      class="bi bi-check-lg text-primary"
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
                      ></path></svg></span
                  ><span>{{ plan.descripcion }}</span>
                </li>
              </ul>
            </div>
            <a
              class="btn d-block w-100"
              [ngClass]="last ? 'btn-light' : 'btn-primary'"
              role="button"
              (click)="openPlanDialog(plan)"
              >Donar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
