<section>
  <section class="d-flex justify-content-center" style="width: 100%">
    <div class="d-flex justify-content-center align-items-center search-form">
      <div class="d-flex w-100">
        <span class="input-group-text search-icon" style="border-radius: 5px 0 0 5px"
          ><fa-icon [icon]="faSearch"></fa-icon></span
        ><input
          class="form-control rounded-0"
          type="text"
          [(ngModel)]="search"
          placeholder="Estoy buscando por..."
        />
      </div>
      <div class="dropdown">
        <a
          class="btn btn-primary dropdown-toggle rounded-0"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ (categoriaBuscar) ? categoriaBuscar: 'Categorias' }}
        </a>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
          <li
            *ngFor="let categoria of categorias"
            class="dropdown-item"
            (click)="categoriaBuscar = categoria.nombre"
          >
            {{ categoria.nombre }}
          </li>
        </ul>
      </div>
      <button
        class="btn btn-light"
        type="button"
        (click)="getEmprendimientos(0)"
        style="border-radius: 0px 5px 5px 0px"
      >
        Buscar
      </button>

    </div>
  </section>
  <div
    id="emprendimientos"
    class="row row-cols-3 d-flex justify-content-center align-items-center mx-2 gap-5"
  >
    <div
      *ngFor="
        let emprendimiento of emprendimientos;
        index as i;
        first as isFirst
      "
      class="col emprendimiento"
      style="width:100%;max-width:700px;padding:0px; margin-top:20px"
    >
      <div
        class="photo-card"
        style="padding: 0px; min-height: 320px; margin-top: 0px"
      >
        <div class="photo-background" style="overflow: hidden; max-height:320px; ">
          <img
            class="w-100"
            style="overflow: hidden !important; "
            src="data:image/jpg;base64, {{ emprendimiento.imagen }}"
          />
        </div>
        <div class="photo-details">
          <h1>{{ emprendimiento.nombre }}<br /></h1>
          <p>{{ emprendimiento.descripcion }}<br /></p>
          <div class="photo-tags">
            <ul>
              <li>
                <a [routerLink]="['/posts', emprendimiento.domainUrl]"
                  >ver posts</a
                >
              </li>
              <li>
                <a [routerLink]="['/donar', emprendimiento.domainUrl]">Donar</a>
              </li>
            </ul>
            <div class="photo-tags" style="margin: 10px 0">
              <div>
                <div class="selectgroup selectgroup-pills">
                  <label
                    *ngFor="
                      let categoria of emprendimiento.categorias;
                      index as i;
                      first as isFirst
                    "
                    class="selectgroup-item"
                  >
                    <input
                      class="selectgroup-input"
                      type="checkbox"
                      name="value"
                      value="HTML"
                      checked
                    />
                    <span
                      [ngStyle]="{ 'background-color': categoria.color }"
                      class="selectgroup-button"
                      >{{ categoria.nombre }}</span
                    >
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.emprendimientos.length == 0">
    <p style="color: white">No hay emprendimientos para enseñar</p>
  </div>
</section>
<section
  class="d-xxl-flex justify-content-xxl-center"
  style="text-align: center; margin-top: 25px"
>
  <nav
    class="text-secondary d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"
  >
    <ul
      class="pagination"
      style="
        /*background-color: red !important;*/
        --bs-pagination-disabled-bg: #27262e !important;
        --bs-pagination-disabled-color: white !important;
      "
    >
      <li class="page-item">
        <button
          class="page-link bg-dark text-white"
          (click)="getEmprendimientos(pageNumber - 1)"
          *ngIf="pageNumber > 0"
          aria-label="Previous"
          style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
        >
          <span aria-hidden="true">«</span>
        </button>
      </li>
      <li
        class="page-item"
        *ngFor="let x of counter(cantidadPaginas); let index = index"
      >
        <button
          class="page-link bg-dark text-white"
          (click)="getEmprendimientos(index)"
        >
          {{ index + 1 }}
        </button>
      </li>
      <li class="page-item">
        <button
          class="page-link bg-dark text-white"
          aria-label="Next"
          (click)="getEmprendimientos(pageNumber + 1)"
          *ngIf="pageNumber < cantidadPaginas - 1"
          style="border-top-right-radius: 5px; border-bottom-right-radius: 5px"
        >
          <span aria-hidden="true">»</span>
        </button>
      </li>
    </ul>
  </nav>
</section>
