.mat-mdc-text-field-wrapper {
  margin-top: 20px;
}
mat-select {
  height: 20%;
}
@media only screen and (max-width: 768px) {
  #emprendimientos {
    display: flex !important;
    flex-direction: column !important;
  }

  .button-section{
        flex-direction: column;
        justify-content: center;
        align-items:center;
   }
   .button-section > button{
        margin:15px 0 0 0 !important;
        width:95vw;
        max-width:500px;
    }

  .emprendimiento {
    width: 90%;
    height: auto;
  }

  .photo-card {
    height: auto;
    width: 100%;
  }

  .search-form {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 500px;
    width:95vw;
  }

  .search-form input,
  button,
  .dropdown,
  .dropdown a,
  span {
    width: 100%;
  }

  .search-form input {
    border-radius: 5px 5px 0 0 !important;
  }

  .search-form button {
    border-radius: 0 0 5px 5px !important;
  }

  .search-icon {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

.page-link:hover, .page-link:focus {
  background: #f1f1f1 !important;
  color: #000 !important;
  box-shadow: none !important;
}
