@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  background-color: #2d2c38;
}

a{
  color:rgb(55, 153, 244) 
}
a:hover{
  color:#fff
}
