<nav
  class="text-secondary d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"
  *ngIf="cantidadPaginas > 1"
>
  <ul class="pagination">
    <li class="page-item">
      <button
        class="page-link bg-dark text-white"
        (click)="this.paginaSeleccionada.emit(paginaActual - 1)"
        *ngIf="paginaActual > 0"
        aria-label="Previous"
        style="border-top-left-radius: 5px; border-bottom-left-radius: 5px"
      >
        <span aria-hidden="true">«</span>
      </button>
    </li>
    <li
      class="page-item"
      *ngFor="let x of counter(cantidadPaginas); let index = index"
    >
      <button
        class="page-link"
        (click)="index!=paginaActual && this.paginaSeleccionada.emit(index)"
        [ngClass]="index === paginaActual ? 'bg-light text-black' : 'bg-dark text-white'"
      >
        {{ index + 1 }}
      </button>
    </li>
    <li class="page-item">
      <button
        class="page-link bg-dark text-white"
        aria-label="Next"
        (click)="this.paginaSeleccionada.emit(paginaActual + 1)"
        *ngIf="paginaActual < cantidadPaginas - 1"
        style="border-top-right-radius: 5px; border-bottom-right-radius: 5px"
      >
        <span aria-hidden="true">»</span>
      </button>
    </li>
  </ul>
</nav>
