input, textarea{
  border-radius: 5px;
  width: 100%;
}

.form-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .dialog{
    padding:1.5em !important;
  }
}
